Sklep.UI.Komunikator/Service References/UslugaKomunikatora/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CzatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICzatService_Połącz_InputMessage">
    <wsdl:part name="parameters" element="tns:Połącz" />
  </wsdl:message>
  <wsdl:message name="ICzatService_Połącz_OutputMessage">
    <wsdl:part name="parameters" element="tns:PołączResponse" />
  </wsdl:message>
  <wsdl:message name="ICzatService_WyślijWiadomość_InputMessage">
    <wsdl:part name="parameters" element="tns:WyślijWiadomość" />
  </wsdl:message>
  <wsdl:message name="ICzatService_WyślijWiadomość_OutputMessage">
    <wsdl:part name="parameters" element="tns:WyślijWiadomośćResponse" />
  </wsdl:message>
  <wsdl:message name="ICzatService_Rozłącz_InputMessage">
    <wsdl:part name="parameters" element="tns:Rozłącz" />
  </wsdl:message>
  <wsdl:message name="ICzatService_Rozłącz_OutputMessage">
    <wsdl:part name="parameters" element="tns:RozłączResponse" />
  </wsdl:message>
  <wsdl:message name="ICzatService_getImiona_InputMessage">
    <wsdl:part name="parameters" element="tns:getImiona" />
  </wsdl:message>
  <wsdl:message name="ICzatService_getImiona_OutputMessage">
    <wsdl:part name="parameters" element="tns:getImionaResponse" />
  </wsdl:message>
  <wsdl:message name="ICzatService_WyświetlWiadomość_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:WyświetlWiadomość" />
  </wsdl:message>
  <wsdl:message name="ICzatService_WyświetlWiadomość_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:WyświetlWiadomośćResponse" />
  </wsdl:message>
  <wsdl:portType name="ICzatService">
    <wsdl:operation name="Połącz">
      <wsdl:input wsaw:Action="http://tempuri.org/ICzatService/Połącz" message="tns:ICzatService_Połącz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICzatService/PołączResponse" message="tns:ICzatService_Połącz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WyślijWiadomość">
      <wsdl:input wsaw:Action="http://tempuri.org/ICzatService/WyślijWiadomość" message="tns:ICzatService_WyślijWiadomość_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICzatService/WyślijWiadomośćResponse" message="tns:ICzatService_WyślijWiadomość_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rozłącz">
      <wsdl:input wsaw:Action="http://tempuri.org/ICzatService/Rozłącz" message="tns:ICzatService_Rozłącz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICzatService/RozłączResponse" message="tns:ICzatService_Rozłącz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getImiona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICzatService/getImiona" message="tns:ICzatService_getImiona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICzatService/getImionaResponse" message="tns:ICzatService_getImiona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WyświetlWiadomość">
      <wsdl:output wsaw:Action="http://tempuri.org/ICzatService/WyświetlWiadomość" message="tns:ICzatService_WyświetlWiadomość_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ICzatService/WyświetlWiadomośćResponse" message="tns:ICzatService_WyświetlWiadomość_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBindingEndpoint" type="tns:ICzatService">
    <wsp:PolicyReference URI="#NetTcpBindingEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Połącz">
      <soap12:operation soapAction="http://tempuri.org/ICzatService/Połącz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WyślijWiadomość">
      <soap12:operation soapAction="http://tempuri.org/ICzatService/WyślijWiadomość" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rozłącz">
      <soap12:operation soapAction="http://tempuri.org/ICzatService/Rozłącz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImiona">
      <soap12:operation soapAction="http://tempuri.org/ICzatService/getImiona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WyświetlWiadomość">
      <soap12:operation soapAction="http://tempuri.org/ICzatService/WyświetlWiadomość" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CzatService">
    <wsdl:port name="NetTcpBindingEndpoint" binding="tns:NetTcpBindingEndpoint">
      <soap12:address location="net.tcp://localhost:8732/CzatHostWS" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8732/CzatHostWS</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/Rogal</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>